form {
  margin: 0 auto;

  width: 80%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(29, 8, 121);
  border-radius: 4px;
  padding: 20px;
}
label {
  padding: 5px;
  font-weight: 800;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
}
input {
  width: 90%;
  display: flex;
}
.container {
  margin: 0 auto;
  width: 400px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
