.container {
  width: 400px;
  height: 20vh;

  flex-direction: column;
  align-items: center;
  font-size: 40;
  color: #010101;
  margin-top: 80px;
}
.navLink {
  color: white;
  display: inline-flex;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
}
.navLink:hover {
  color: rgb(29, 8, 121);
}
.active {
  color: rgb(29, 8, 121);
  font-size: 18px;
  font-weight: 400;
  display: inline-flex;
  padding: 10px;
  text-decoration: none;
}
